.parentPage {
  display: flex;
  flex-direction: column;
  padding: 8% 5%;

  .container {
    display: flex;
    flex-direction: column;
    gap: 4;
  }
}

h2 {
  color: white;
  font-weight: bold;
}
.filterBar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  input {
    padding: 2% 4%;
    font-size: 14px;
    color: rgb(170, 167, 167);
    border-radius: 12px;
    border: 0.5px solid gray;
  }

  .categorieFilter {
    color: rgb(95, 95, 95);
    display: flex;
    flex-direction: row;
    gap: 1;
    padding-left: 25px;
    align-items: center;
    .categories {
      select {
        color: rgba(255, 166, 0, 0.26);

        &:hover {
          border: none;
          border-bottom: 1px solid rgba(224, 138, 8, 0.342);
        }
      }
    }
  }
}

.promptList {
  display: flex;
 
  justify-content: space-between;
  align-items: center !important;
  flex-wrap: wrap;
  width: 100%;
  padding: 2% 0%;
  height: auto;
  .promptCart {
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    padding: 1%;
    box-shadow: 2px 2px 2px rgb(34, 34, 34);

    .preview {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 8px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      color: gray;

      .promptTexte {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        gap: 3;
       
      }

      .otherOption{
        display: flex;
        flex-direction: row;
        gap: 10;
       
        justify-content: left;
        align-content: flex-end;
        width: 100%;
      }
    }
  }
}
