@media only screen and (max-width: 480px) {
  .flex-group {
     padding: 2%;
     margin-top: -14%;
  
  h1 {
    font-size: 2.9rem !important;
    
  }
}

.squelleton{
    margin-top: -90%;
 
   
}
.squelletons{
    margin-top: -98%;
    overflow: hidden;
    opacity: 30%;
 
}
.squelleteSize{
   width: 100%;
   height: 100%; 
}
.socialTools{
    margin-top: 50%;
}
.lineLite{
    opacity: 100%;
    visibility: visible;
}

}
