@import "tailwindcss";

@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

/* Animation de la bordure "clash" */
@keyframes border-pulse {
  0%,
  100% {
    border-color: #ffa500; /* Orange vif */
    box-shadow: 0 0 5px #ffa500, 0 0 10px #ffa500; /* Ombre lumineuse */
  }
  50% {
    border-color: #ffd700; /* Jaune doré légèrement différent */
    box-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700; /* Ombre plus intense */
  }
}

/* Animation de la flèche clignotante */
@keyframes arrow-blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

body {
  background: #000;
  overflow-x: hidden;
}

.py-20 {
  padding: 2 !important;
}
